@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.conteiner {

    width : 1280px ;
    background : #FFFFFF ;
    margin: 0 auto;
    font-family: 'Roboto';
}

.logo-wrapper {

    margin-top: 63px;
}

.logo {

    font-style : normal ;
    font-weight : 400 ;
    font-size : 80px ;
    line-height : 94px ;
    text-align : center ;
    color : #000000 ;
    
}

.logo__last-letter {

    color : #4BCAFF ;
}

.nav {

    margin-top : 38px ;
    background : #35444F ;

}

.menu {

    display : flex ;
    justify-content : center;
    align-items : center;
    
}

.menu__item {
    
    padding : 26px 32px 19px ;
    border-left : 1px solid #FFFFFF ;
   
}

.menu__item:hover {

    background : #222F3A ;
}

.menu__item:last-child {

    border-right : 1px solid #FFFFFF  ;
}

.menu__link {

    font-style : normal ;
    font-weight : 400 ;
    font-size : 24px ;
    line-height : 28px ;
    color : #FFFFFF ;
}

.main {

    display : flex ;
    justify-content : space-between ;
    align-items: flex-start;
    margin-top : 48px ;
}

.sidebar {

    border : 1px solid #000000 ;
    /* background: #000; */
}

.sidebar__list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 334px;
}

.sidebar__item {

    padding: 27px 38px;
    font-size: 27px;
    line-height: 27px;
}

.sidebar__item:hover {

    background : #DBDBDB ;
   
}

.sidebar__link {

    color: #495863;
}

.sidebar__item:hover .sidebar__link {
    
    display: inline-block;
    transform: translate(30px) ;
    transition: 0.7s ease-in-out;
}

.wrapper {

    flex-basis : 885px ;
}

.wrapper__poster {
 
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid #000000 ;
    height : 529px ;
}

.poster__image-description {

    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 37px 0px 34px;

}

.footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 21px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}

.footer__list {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1; */
    width: 885px;

}

.footer__link {

    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer__link:hover {

    color:#3181A6;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
}
.footer-copirate-wrapper {

    /* width: 190px; */
    /* margin-right: 40px; */
    
}
.footer-copirate {

    font-size: 24px;
    line-height: 24px;
    /* color: red; */
}

